﻿@model Hostel2.Models.Booking

@using Hostel2.Models

@{
    ViewBag.Title = "BookingCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Booking Calendar</h2>

@{
    BookingDBEntities db = new BookingDBEntities();
    <table class="table">
        <tr>
            <!-- Creates the headings for the Booking Calendar, for the current day and following 6 days -->
            <th align="right">
                @DateTime.Today.ToShortDateString()
            </th>
            <th align="right">
                @DateTime.Today.AddDays(1).ToShortDateString()
            </th>
            <th align="right">
                @DateTime.Today.AddDays(2).ToShortDateString()
            </th>
            <th align="right">
                @DateTime.Today.AddDays(3).ToShortDateString()
            </th>
            <th align="right">
                @DateTime.Today.AddDays(4).ToShortDateString()
            </th>
            <th align="right">
                @DateTime.Today.AddDays(5).ToShortDateString()
            </th>
            <th align="right">
                @DateTime.Today.AddDays(6).ToShortDateString()
            </th>
        </tr>
        <tr>
            <!-- Blank space -->
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
        </tr>
        <!-- Checks bookings for each day of the week where bookings are allocated to the Blue Room -->
        <tr>
            @{

                DateTime today = DateTime.Today;
                // Bool to hold a value to see if a booking has been found for the specified date for the specified room
                // The number is to specify which section in the calendar the variables are for. Same applies to the breakpoints
                // 1-7 applies to each day in the blue room, 8-14 is each day for the yellow room and 15-21 is for the green room
                bool found1 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (today.Date >= item.CheckInDate.Date && today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "B")
                    {
                        found1 = true;
                        // If a booking was found for this date, then apply a colour fill to that part of the calendar based on that room
                        <td bgcolor="#0000ff" height="30px"></td>
                        goto break1;
                    }
                }
                // If a booking was not found for this date, then apply a white  fill to that part of the calendar
                if (found1 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break1:
                today = today.AddDays(1);

                bool found2 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (today.Date >= item.CheckInDate.Date && today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "B")
                    {
                        found2 = true;
                        <td bgcolor="#0000ff" height="30px"></td>
                        goto break2;
                    }
                }
                if (found2 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break2:
                today = today.AddDays(1);

                bool found3 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (today.Date >= item.CheckInDate.Date && today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "B")
                    {
                        found3 = true;
                        <td bgcolor="#0000ff" height="30px"></td>
                        goto break3;
                    }
                }
                if (found3 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break3:
                today = today.AddDays(1);

                bool found4 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (today.Date >= item.CheckInDate.Date && today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "B")
                    {
                        found4 = true;
                        <td bgcolor="#0000ff" height="30px"></td>
                        goto break4;
                    }
                }
                if (found4 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break4:
                today = today.AddDays(1);

                bool found5 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (today.Date >= item.CheckInDate.Date && today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "B")
                    {
                        found5 = true;
                        <td bgcolor="#0000ff" height="30px"></td>
                        goto break5;
                    }
                }
                if (found5 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break5:
                today = today.AddDays(1);

                bool found6 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (today.Date >= item.CheckInDate.Date && today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "B")
                    {
                        found6 = true;
                        <td bgcolor="#0000ff" height="30px"></td>
                        goto break6;
                    }
                }
                if (found6 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break6:
                today = today.AddDays(1);

                bool found7 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (today.Date >= item.CheckInDate.Date && today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "B")
                    {
                        found7 = true;
                        <td bgcolor="#0000ff" height="30px"></td>
                        goto break7;
                    }
                }
                if (found7 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break7:
            }
        </tr>
        <tr>
            <!-- Blank space -->
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
        </tr>
        <!-- Checks bookings for each day of the week where bookings are allocated to the Yellow Room -->
        <tr>
            @{
                DateTime _today = DateTime.Today;
                bool found8 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (_today.Date >= item.CheckInDate.Date && _today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "Y")
                    {
                        found8 = true;
                        <td bgcolor="#ffff00" height="30px"></td>
                        goto break8;
                    }
                }
                if (found8 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break8:
                _today = _today.AddDays(1);

                bool found9 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (_today.Date >= item.CheckInDate.Date && _today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "Y")
                    {
                        found9 = true;
                        <td bgcolor="#ffff00" height="30px"></td>
                        goto break9;
                    }
                }
                if (found9 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break9:
                _today = _today.AddDays(1);

                bool found10 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (_today.Date >= item.CheckInDate.Date && _today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "Y")
                    {
                        found10 = true;
                        <td bgcolor="#ffff00" height="30px"></td>
                        goto break10;
                    }
                }
                if (found10 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break10:
                _today = _today.AddDays(1);

                bool found11 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (_today.Date >= item.CheckInDate.Date && _today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "Y")
                    {
                        found11 = true;
                        <td bgcolor="#ffff00" height="30px"></td>
                        goto break11;
                    }
                }
                if (found11 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break11:
                _today = _today.AddDays(1);

                bool found12 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (_today.Date >= item.CheckInDate.Date && _today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "Y")
                    {
                        found12 = true;
                        <td bgcolor="#ffff00" height="30px"></td>
                        goto break12;
                    }
                }
                if (found12 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break12:
                _today = _today.AddDays(1);

                bool found13 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (_today.Date >= item.CheckInDate.Date && _today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "Y")
                    {
                        found13 = true;
                        <td bgcolor="#ffff00" height="30px"></td>
                        goto break13;
                    }
                }
                if (found13 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break13:
                _today = _today.AddDays(1);

                bool found14 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (_today.Date >= item.CheckInDate.Date && _today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "Y")
                    {
                        found14 = true;
                        <td bgcolor="#ffff00" height="30px"></td>
                        goto break14;
                    }
                }
                if (found14 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break14:
            }
        </tr>
        <tr>
            <!-- Blank space -->
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
        </tr>
        <!-- Checks bookings for each day of the week where bookings are allocated to the Green Room -->
        <tr>
            @{
                DateTime __today = DateTime.Today;
                bool found15 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (__today.Date >= item.CheckInDate.Date && __today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "G")
                    {
                        found15 = true;
                        <td bgcolor="#00ff00" height="30px"></td>
                        goto break15;
                    }
                }
                if (found15 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break15:
                __today = __today.AddDays(1);

                bool found16 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (__today.Date >= item.CheckInDate.Date && __today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "G")
                    {
                        found16 = true;
                        <td bgcolor="#00ff00" height="30px"></td>
                        goto break16;
                    }
                }
                if (found16 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break16:
                __today = __today.AddDays(1);

                bool found17 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (__today.Date >= item.CheckInDate.Date && __today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "G")
                    {
                        found17 = true;
                        <td bgcolor="#00ff00" height="30px"></td>
                        goto break17;
                    }
                }
                if (found17 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break17:
                __today = __today.AddDays(1);

                bool found18 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (__today.Date >= item.CheckInDate.Date && __today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "G")
                    {
                        found18 = true;
                        <td bgcolor="#00ff00" height="30px"></td>
                        goto break18;
                    }
                }
                if (found18 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break18:
                __today = __today.AddDays(1);

                bool found19 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (__today.Date >= item.CheckInDate.Date && __today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "G")
                    {
                        found19 = true;
                        <td bgcolor="#00ff00" height="30px"></td>
                        goto break19;
                    }
                }
                if (found19 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break19:
                __today = __today.AddDays(1);

                bool found20 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (__today.Date >= item.CheckInDate.Date && __today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "G")
                    {
                        found20 = true;
                        <td bgcolor="#00ff00" height="30px"></td>
                        goto break20;
                    }
                }
                if (found20 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break20:
                __today = __today.AddDays(1);

                bool found21 = false;
                foreach (Booking item in db.Bookings)
                {
                    if (__today.Date >= item.CheckInDate.Date && __today.Date < item.CheckOutDate.Value.Date && item.RoomAllocation.Substring(0, 1) == "G")
                    {
                        found21 = true;
                        <td bgcolor="#00ff00" height="30px"></td>
                        goto break21;
                    }
                }
                if (found21 == false)
                {
                    <td bgcolor="#ffffff" height="30px"></td>
                }
                break21:;
            }
        </tr>
        <tr>
            <!-- Blank space -->
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
            <td height="60px"></td>
        </tr>

    </table>

}

