﻿@model Hostel2.Models.Booking
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@{
    ViewBag.Title = "DeleteBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    try
    {
        string userID = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID.ToString();
        if (HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID == 1)
        {
            <h2>DeleteBooking</h2>

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>Booking</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.MemberID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MemberID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CheckInDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CheckInDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CheckOutDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CheckOutDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AdultMales)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AdultMales)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AdultFemales)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AdultFemales)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.YouthMales)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.YouthMales)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.YouthFemales)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.YouthFemales)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Confirmed)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Confirmed)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "ViewBookings")
                    </div>
                }
            </div>
        }
        else
        {
            <br />
            <h3>You cannot view this page.</h3>
        }
    }
    catch
    {
        <br />
        <h3>You cannot view this page.</h3>
    }

}

