﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h2>Welcome to Llechfan Hostel</h2>
    @{
        try
        {
            string fname = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).FirstName;
            string lname = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).LastName;
            string userID = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID.ToString();

            if (userID == "1")
            {
                @Html.Raw("Logged in as Admin");
            }
            else if (userID == "2")
            {
                @Html.Raw("Logged in as " + fname + " " + lname + " (Unconfirmed User)");
            }
            else if (userID == "3")
            {
                @Html.Raw("Logged in as " + fname + " " + lname);
            }

            var bedsUsed = 0;
            List<DateTime> dateRange = new List<DateTime>();

            foreach (var item in Model)
            {

                DateTime checkIn = item.CheckInDate;
                DateTime? checkout = item.CheckOutDate;


                for (DateTime date = checkIn; date <= checkout; date = date.AddDays(1))
                {
                    if (date == System.DateTime.Today)
                    {
                        bedsUsed = item.AdultFemales + item.AdultMales + item.YouthFemales + item.YouthMales;
                        dateRange.Add(date);
                    }

                }

            }

            var unconfirmedBookings = 0;
            foreach (var item in Model)
            {
                if(item.Confirmed == false)
                {
                    unconfirmedBookings++;
                }
            }

            <br />

            if (bedsUsed >= 12)
            {
                @Html.Raw("No beds are available today");
            }
            else
            {
                @Html.Raw(12 - bedsUsed + " Beds are available today");
            }
             <br />

            if (userID == "1")
            {
                
            }



        }
        catch
        {
            <h3>Please @Html.ActionLink("Register", "Register", "Account") or @Html.ActionLink("Login", "Login", "Account") to continue</h3>
        }

    }
</div>
