﻿@model IEnumerable<Hostel2.Models.AspNetUser>
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin



@{
    ViewBag.Title = "View Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var unconfirmedUsers = 0;
    foreach(var item in Model)
    {
        if(item.RoleID == 2 )
        {
            unconfirmedUsers++;
        }
    }

}


@{
    try
    {
        string userID = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID.ToString();
        if (HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID == 1)
        {
            <h2>View Users</h2>
            <h3>@Html.Raw("There are " + unconfirmedUsers + " unconfirmed users that require your attention")</h3>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Date Of Birth
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Member ID
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        User Type
                    </th>
                    <th>
                        User Confirmed
                    </th>
                    <th></th>
                </tr>
                
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @{
                            var today = DateTime.Today;
                            var age = today.Year - item.DateOfBirth.Year;
                            if (item.DateOfBirth > today.AddYears(-age))
                            {
                                age--;
                            }
                        }
                        @item.DateOfBirth.ToShortDateString()
                        </td>
                        <td>
                            @{
                                if (age < 16)
                                {
                                    <b>@age.ToString()</b>
                                }
                                else
                                {
                                    @age.ToString()
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.membershipID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phoneNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @{
                                if (item.RoleID == 1)
                                {
                                    @Html.Raw("Admin");
                                }
                                else
                                {
                                    @Html.Raw("User");
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (item.RoleID == 2)
                                {
                                    @Html.Raw("No");
                                }
                                else
                                {
                                    @Html.Raw("Yes");
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                        </td>
                    </tr>
                                }

            </table>
                                }
                                else
                                {
                                    <br />
                                    <h3> You cannot access this page.</h3>
                                    }
                                }
                                catch
                                {
                                    <br />
                                    <h3> You are not logged in, and therefore cannot access this page. Please @Html.ActionLink("Login", "Login", "Account")  here.</h3>
                                }

}