﻿@model IEnumerable<Hostel2.Models.Booking>
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@{
    ViewBag.Title = "View Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var unconfirmedBookings = 0;
    foreach (var item in Model)
    {
        if (item.Confirmed == false)
        {
            unconfirmedBookings++;
        }
    }


}

@{
    try
    {
        string userID = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).membershipID.ToString();
        if (HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID == 1 || HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID == 3)
        {
            <h2>Booking List</h2>
            if (HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID == 1)
            {
                <h3>@Html.Raw("There are " + unconfirmedBookings + " unconfirmed bookings that require your attention.")</h3>
            }

            <p>
                @Html.ActionLink("Create New Booking", "CreateBooking")
            </p>
            <table class="table">
                <tr>
                    <th>
                        Booking ID
                    </th>
                    <th>
                    Member ID
                    </th>
                    <th>
                        Check In 
                    </th>
                    <th>
                        Check Out 
                    </th>
                    <th>
                        Adult Males
                    </th>
                    <th>
                        Adult Females
                    </th>
                    <th>
                        Youth Males
                    </th>
                    <th>
                        Youth Females
                    </th>
                    <th>
                        Confirmed
                    </th>
                    <th>
                        Room
                    </th>
                    <th>
                        Cost est.
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    try
                    {
                        if (HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID == 1)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberID)
                                </td>
                                <td>
                                    @item.CheckInDate.ToShortDateString()
                                </td>
                                <td>
                                    @try
                                    {
                                        @item.CheckOutDate.ToString().Substring(0, 10)
                                    }
                                    catch
                                    {
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdultMales)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdultFemales)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.YouthMales)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.YouthFemales)
                                </td>
                                <td>
                                    @{
                                        if (item.Confirmed.ToString() == "True")
                                        {
                                            <div>Yes</div>
                                        }
                                        else
                                        {
                                            <div>No</div>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoomAllocation)
                                </td>
                                <td>
                                    @Html.Raw("£" + (item.AdultFemales + item.AdultMales + item.YouthFemales + item.YouthMales) * 3)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditBooking", new { id = item.BookingID }) |
                                    @Html.ActionLink("Validate", "ViewBooking", new { id = item.BookingID }) |
                                    @Html.ActionLink("Cancel", "DeleteBooking", new { id = item.BookingID }, new { onclick = "return confirm('Are you sure you wish to cancel this booking?');" })
                                </td>
                            </tr>
                                        }
                                        else if (HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).membershipID == item.MemberID.ToString())
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BookingID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MemberID)
                                                </td>
                                                <td>
                                                    @item.CheckInDate.ToShortDateString()
                                                </td>
                                                <td>
                                                    @try
                                                    {
                                                        @item.CheckOutDate.ToString().Substring(0, 10)
                                                    }
                                                    catch {
                                                        <div>Not given</div>
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AdultMales)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AdultFemales)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.YouthMales)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.YouthFemales)
                                                </td>
                                                <td>
                                                    @{
                                                        if (item.Confirmed.ToString() == "True")
                                                        {
                                                            <div>Yes</div>
                                                        }
                                                        else
                                                        {
                                                            <div>No</div>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RoomAllocation)
                                                </td>
                                                <td>
                                                    @Html.Raw((item.AdultFemales + item.AdultMales + item.YouthFemales + item.YouthMales) * 3 )
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "EditBooking", new { id = item.BookingID }) |
                                                    @Html.ActionLink("View", "ViewBooking", new { id = item.BookingID }) |
                                                    @Html.ActionLink("Cancel", "DeleteBooking", new { id = item.BookingID }, new { onclick = "return confirm('Are you sure you wish to cancel this booking?');" })
                                                </td>
                                            </tr>
                                                                }
                                                            }
                                                            catch
                                                            {
                                                            }
                                                        }
            </table>
                                                        }
                                                        else
                                                        {
                                                            <br />
                                                            <h3>Only confirmed accounts can view this page. </h3>
                                                            }
                                                        }
                                                        catch
                                                        {
                                                            <br />
                                                            <h3>You are not logged in, and therefore cannot access this page. Please @Html.ActionLink("Login", "Login", "Account")  here.</h3>
                                                        }
}
